@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&family=Poppins:wght@100;400&family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-color: #dadadb;
    background: url(images/bg-top.svg), url(images/bg-bottom.svg);
    background-position: right top, left top 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.background {
    position: absolute;
    position: fixed;
}

.img_top{
    margin-left: 140rem;
}

.title {
    text-align: center;
    margin: 5rem;
}

.packages {
    text-align: center;
    margin: 4rem;
    font-size: 30px;
}

.caixas {
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(5, 5, 5);
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
}

.card_1 {
    width: 15vw;
    height: 50vh;    
    border-radius: 15px 0 0 15px;
    background-color: #fff;
}

.card_2 {
    width: 15vw;
    height: 55vh;    
    background-color:  hsl(236, 72%, 79%);
    border-radius: 15px;
}

.card_3 {
    width: 15vw;
    height: 50vh;    
    border-radius: 5px;
    background-color: #fff;
}

.txt_1 {
    font-size: 25px;
    margin-top: 2rem;
} 

.txt_1 span {
    font-size: 15px;
    font-weight: 500;
}

.txt_2 {
    font-size: 80px;
    margin-top: 2rem;
}

.txt_3 .txt_4 .txt_5 .txt_sub_3 .txt_sub_4 .txt_sub_5 {
    font-size: 25px;
    margin-top: 1rem;
}

.txt_sub_1 {
    font-size: 25px;
    margin-top: 3.5rem;
    color: white;
    
}

.txt_sub_2 {
    font-size: 80px;
    margin-top: 2rem;
    color: white;
}

.txt_sub_3 .txt_sub_4 .txt_sub_5 {
    color: white;
}

.button_card1-3 {
    border: none;
    margin: 2rem;
    padding: 0.5rem;
    width: 85%;
    border-radius: 5px;
    font-size: 25px;
    background: hsl(236, 72%, 79%);    
    cursor: pointer;
}

.button_card2 {
    border: none;
    margin: 2rem;
    padding: 0.5rem;
    width: 85%;
    border-radius: 5px;
    font-size: 25px;
    background-color: #fff;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }