@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&family=Poppins:wght@100;400&family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

.title {
    text-align: center;
    margin: 5rem;
}

.packages {
    text-align: center;
    margin: 4rem;
    font-size: 30px;
}

.caixas {
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(5, 5, 5);
    font-size: 15px;
    font-family: 'Bebas Neue', cursive;
}

.card_1 {
    width: 15vw;
    height: 50vh;    
    border-radius: 15px 0 0 15px;
    border: solid 1px;
}

.card_2 {
    width: 15vw;
    height: 55vh;    
    background-color:  hsl(236, 72%, 79%);
    border-radius: 15px;
    text-align: center;    
}

.card_3 {
    width: 15vw;
    height: 50vh;    
    border-radius: 5px;
    border: solid 1px;
}

.txt_1 {
    font-size: 25px;
    margin-top: 4rem;
}

.txt_2 {
    font-size: 80px;
    margin-top: 2rem;
}

.txt_3 .txt_4 .txt_5 .txt_sub_3 .txt_sub_4 .txt_sub_5 {
    font-size: 25px;
    margin-top: 1rem;
}

.txt_sub_1 {
    font-size: 25px;
    margin-top: 5.3rem;
    color: white;
}

.txt_sub_2 {
    font-size: 80px;
    margin-top: 2rem;
    color: white;
}

.txt_sub_3 .txt_sub_4 .txt_sub_5 {
    color: white;
}

.caixas button {
    border: none;
    margin: 2rem;
    padding: 0.5rem;
    width: 85%;
    border-radius: 5px;
    font-size: 25px;
}

